# Dependencies
node_modules/
.pnp
.pnp.js

# Environment and Local Secrets
.env
.env.local
.env.*.local
*.env

# Production Build
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Editor & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
